[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
flask = "2.3.3"
flask-restx = "1.2.0"
pytest = "*"
pydantic = "*"
pydantic-settings = "*"
gunicorn = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3"
