[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
flask-restx = "*"
pytest = "*"
pydantic = "*"
pydantic-settings = "*"
gunicorn = "*"
redis = "*"
pymemcache = "*"
python-memcached-stats = "*"

[dev-packages]

[requires]
python_version = "3"
